* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.navbar {
    background-color: white;
    padding: 0px 150px 0px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-brand img {
    width: 220px;
    height: 70px;
}
.navbar-nav .nav-link {
    font-size: 18px;
    color: #005B4F;
    font-weight: 600;
    margin-left: 35px;
    position: relative;
    text-decoration: none;
}
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #005B4F;
    transition: width 0.3s ease;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}
#hero_section {
    background-image: url(assets/herosection_bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 50px 40px 40px 40px;
}
.intro {
    padding:40px;
}
.hero_intro {
    color: #005B4F;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
}
.hero_heading {
    color: #005B4F;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.hero_para {
    color: #005B4F;
    font-size: 22px;
}
#about_section {
    width: 100%;
    background-color: #fff;
    padding: 50px 80px;
}
.img-box {
    height: 250px;
    width: 350px;
    margin-top: 30px;
    box-shadow: 10px 10px 12px gray;
}
.img-box-img {
    height: 100%;
    width: 100%;
}
.about-box h6 {
    color: #005B4F;
    font-size: 16px;
    font-weight: 500;
}
.about-box h1 {
    color: #005B4F;
    font-size: 30px;
    font-weight: 800;
}
.about-box p {
    color: #005B4F;
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.5;
}
.about_icon {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 30px;
}
.reliable_onnection,
.quality,
.long-term {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.reliable_onnection img,
.quality img,
.long-term img {
    width: 40px;
    height: 40px;
}
.reliable_onnection h6,
.quality h6,
.long-term h6 {
    color: #005B4F;
    font-size: 16px;
    font-weight: 700;
}
.about_line {
    width: 2px;
    height: 45px;
    background-color: #b8cfcb;
}
#supplier_section {
    width: 100%;
     background-color: #d7e9e3;
    padding: 50px;
}
.supplier h6 {
    color: #005B4F;
    font-size: 16px;
    font-weight: 500;
}
.supplier h1 {
    color: #005B4F;
    font-size: 25px;
    font-weight: 800;
}
.supplier p {
    color: #005B4F;
    font-size: 14px;
}
.kaiwei_box {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(164, 200, 164);
    box-shadow: 0px 3px 10px rgb(81, 81, 81);
}
.kaiwei_box img {
    height: 40px;
    width: 100px;
}
.kaiwei_box h6 {
    color: #005B4F;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 2px;
    font-weight: 800;
}
.kaiwei_box p {
    color: #005B4F;
    font-size: 16px;
}
.ori_box {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(164, 200, 164);
    box-shadow: 0px 3px 10px rgb(81, 81, 81);
}
.ori_box img {
    height: 40px;
    width: 100px;
}
.ori_box h6 {
    color: #005B4F;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 2px;
    font-weight: 800;
}
.ori_box p {
    color: #005B4F;
    font-size: 16px;
}
#contact_section {
    width: 100%;
    background: rgb(249, 244, 244);
    padding: 40px 40px 40px 70px;
}
.get_in-touch h6 {
    color: #005B4F;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
.get_in-touch h1 {
    color: #005B4F;
    font-size: 25px;
    font-weight: 800;
}
.get_in-touch p {
    color: #005B4F;
    font-size: 16px;
}
.phone {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 5px 10px rgb(81, 81, 81);
}
.phone h6 {
    color: #005B4F;
    font-size: 16px;
    margin-bottom: 3px;
}
.phone i {
    background-color: #005B4F;
    color: white;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.phone p {
    color: #005B4F;
    font-size: 16px;
}
.email {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 5px 10px rgb(81, 81, 81);
}
.email h6 {
    color: #005B4F;
    font-size: 16px;
    margin-bottom: 3px;
}
.email i {
    background-color: #005B4F;
    color: white;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.email a {
    color: #005B4F;
    font-size: 16px;
    text-decoration: none;
}
#footer_section {
    width: 100%;
    background-color: #024a40;
    padding: 0px 50px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_box {
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer_logo {
    width: 220px;
    height: 70px;
    object-fit: contain;
}
.footer_line {
    width: 2px;
    height: 45px;
    background-color: #abc1bd;
}
.footer_box p {
    color: wheat;
    font-size: 12px;
    margin: 0;
}
.copyright {
    color: white;
    font-size: 14px;
    margin: 0;
}
/*SCROLL ANIMATION*/
.animate-left,
.animate-right,
.animate-top {
    opacity: 0;
}
.animate-left {
    transform: translateX(-80px);
}
.animate-right {
    transform: translateX(80px);
}
.animate-top {
    transform: translateY(-50px);
}
/*SHOW ANIMATION  */
.animate-left.show {
    animation: slideInLeft 3s ease forwards;
}
.animate-right.show {
    animation: rightslide 3s ease forwards;
}
.animate-top.show {
    animation: topslide 5s ease forwards;
}
@keyframes slideInLeft {
 from {
        opacity: 0;
        transform: translateX(-80px);
    }
to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rightslide {
 from {
        opacity: 0;
        transform: translateX(80px);
    }
 to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes topslide {
 from {
        opacity: 0;
        transform: translateY(-50px);
    }
 to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* LARGE DESKTOP */

@media (min-width: 1200px) {
    .navbar {
        padding: 0 40px;
    }

    .navbar-brand img {
        width: 220px;
        height: 70px;
        object-fit: contain;
    }

    .navbar-nav .nav-link {
        font-size: 18px;
        margin-left: 35px;
    }


    /* HERO */
    #hero_section {
        min-height: 650px;
        padding: 20px;
        background-size: cover;
        background-position: center;
    }

    .intro {
        padding: 120px 70px;
        max-width: 850px;
    }

    .hero_intro {
        font-size: 18px;
        margin-top: 30px;
    }

    .hero_heading {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .hero_para {
        font-size: 22px;
        line-height: 1.5;
    }


    /* ABOUT */
    #about_section {
        padding: 70px 40px;
    }

    .img-box {
        width: 350px;
        height: 250px;
        margin-top: 30px;
    }

    .about-box h6 {
        font-size: 16px;
    }

    .about-box h1 {
        font-size: 30px;
        line-height: 1.3;
    }

    .about-box p {
        font-size: 16px;
        line-height: 1.6;
    }

    .about_icon {
        gap: 35px;
        margin-top: 30px;
    }


    /* SUPPLIER */
    #supplier_section {
        padding: 70px 80px;
    }

    .supplier h6 {
        font-size: 16px;
    }

    .supplier h1 {
        font-size: 28px;
        line-height: 1.3;
    }

    .supplier p {
        font-size: 15px;
        line-height: 1.5;
    }

    .kaiwei_box,
    .ori_box {
        padding: 15px;
        min-height: 170px;
    }

    .kaiwei_box img,
    .ori_box img {
        width: 100px;
        height: 40px;
        object-fit: contain;
    }

    .kaiwei_box h6,
    .ori_box h6 {
        font-size: 16px;
        margin-top: 20px;
    }

    .kaiwei_box p,
    .ori_box p {
        font-size: 16px;
        line-height: 1.5;
    }


    /* CONTACT */
    #contact_section {
        padding: 70px 80px;
    }

    .get_in-touch h6 {
        font-size: 16px;
    }

    .get_in-touch h1 {
        font-size: 28px;
        line-height: 1.3;
    }

    .get_in-touch p {
        font-size: 16px;
        line-height: 1.6;
    }

    .phone,
    .email {
        padding: 15px;
        min-height: 150px;
    }

    .phone h6,
    .email h6 {
        font-size: 16px;
    }

    .phone p,
    .email p {
        font-size: 16px;
        line-height: 1.5;
    }


    /* FOOTER */
    #footer_section {
        padding: 0 80px;
    }

    .footer {
        min-height: 80px;
    }

    .footer_box {
        gap: 35px;
    }

    .footer_logo {
        width: 220px;
        height: 70px;
    }

    .footer_box p {
        font-size: 12px;
    }

    .copyright {
        font-size: 14px;
    }
}


/* VERY LARGE DESKTOP */

@media (min-width: 1600px) {

    .navbar {
        padding: 0 120px;
    }

    #hero_section {
        padding: 40px 120px;
        min-height: 700px;
    }

    .intro {
        padding: 140px 80px;
        max-width: 950px;
    }

    .hero_heading {
        font-size: 55px;
    }

    .hero_para {
        font-size: 23px;
    }


    #about_section {
        padding: 80px 120px;
    }


    #supplier_section {
        padding: 80px 120px;
    }


    #contact_section {
        padding: 80px 120px;
    }


    #footer_section {
        padding: 0 120px;
    }
}
/* ================= LAPTOP RESPONSIVE ================= */

@media (min-width: 769px) and (max-width: 1200px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
    .navbar {
        padding: 0 20px;
    }
        .navbar-toggler {
        background-color: #024a40;
        border-radius: 8px;
        width: 55px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler-icon {
        background-image: none;
        width: 28px;
        height: 20px;
        position: relative;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after,
    .navbar-toggler-icon {
        background-color: transparent;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 28px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
    }

    .navbar-toggler-icon::before {
        top: 2px;
        box-shadow: 0 8px 0 white;
    }

    .navbar-toggler-icon::after {
        top: 18px;
    }
    .navbar-brand img {
        width: 150px;
        height: 60px;
        object-fit: contain;
    }

    .navbar-nav .nav-link {
        font-size: 17px;
        margin-left: 25px;
    }
    /* ================= HERO ================= */

    #hero_section {
        width: 100%;
        min-height: 550px;
        padding: 30px;
        background-size: 100% 100%;
        background-position: center;
    }

    .intro {
        padding: 100px 40px;
        max-width: 700px;
    }

    .hero_intro {
        font-size: 17px;
        margin-top: 30px;
    }

    .hero_heading {
        font-size: 45px;
        line-height: 1.2;
        margin-bottom: 12px;
    }

    .hero_para {
        font-size: 20px;
        line-height: 1.5;
    }


    /* ================= ABOUT ================= */

    #about_section {
        width: 100%;
        padding: 55px 50px;
    }

    .img-box {
        width: 320px;
        height: 230px;
        margin-top: 25px;
    }

    .img-box-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-box h6 {
        font-size: 15px;
    }

    .about-box h1 {
        font-size: 28px;
        line-height: 1.3;
    }

    .about-box p {
        font-size: 15px;
        line-height: 1.5;
    }

    .about_icon {
        gap: 25px;
        margin-top: 25px;
    }

    .reliable_onnection,
    .quality,
    .long-term {
        gap: 8px;
    }

    .reliable_onnection img,
    .quality img,
    .long-term img {
        width: 35px;
        height: 35px;
    }

    .reliable_onnection h6,
    .quality h6,
    .long-term h6 {
        font-size: 14px;
    }

    .about_line {
        height: 40px;
    }


    /* ================= SUPPLIER ================= */

    #supplier_section {
        width: 100%;
        padding: 55px 50px;
    }

    .supplier h6 {
        font-size: 15px;
    }

    .supplier h1 {
        font-size: 24px;
        line-height: 1.3;
    }

    .supplier p {
        font-size: 14px;
        line-height: 1.5;
    }

    .kaiwei_box,
    .ori_box {
        padding: 12px;
    }

    .kaiwei_box img,
    .ori_box img {
        width: 95px;
        height: 40px;
        object-fit: contain;
    }

    .kaiwei_box h6,
    .ori_box h6 {
        font-size: 15px;
        margin-top: 15px;
    }

    .kaiwei_box p,
    .ori_box p {
        font-size: 14px;
        line-height: 1.5;
    }


    /* ================= CONTACT ================= */

    #contact_section {
        width: 100%;
        padding: 50px;
    }

    .get_in-touch h6 {
        font-size: 15px;
        margin-top: 10px;
    }

    .get_in-touch h1 {
        font-size: 25px;
        line-height: 1.3;
    }

    .get_in-touch p {
        font-size: 15px;
        line-height: 1.5;
    }

    .phone,
    .email {
        padding: 12px;
    }

    .phone h6,
    .email h6 {
        font-size: 15px;
    }

    .phone p,
    .email a {
        font-size: 14px;
        line-height: 1.5;
        word-break: break-word;
    }

    .phone i,
    .email i {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }


    /* ================= FOOTER ================= */

    #footer_section {
        padding: 0 20px;
    }

    .footer {
        min-height: 75px;
    }

    .footer_box {
        gap: 25px;
    }

    .footer_logo {
        width: 130px;
        height: 45px;
    }

    .footer_line {
        height: 40px;
    }

    .footer_box p {
        font-size: 11px;
    }

    .copyright {
        font-size: 13px;
    }
}
/* ================= TABLET RESPONSIVE ================= */

@media (min-width: 577px) and (max-width: 768px) {

    /* ================= NAVBAR ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
    .navbar {
        padding: 0 20px;
        min-height: 65px;
    }

    .navbar-brand img {
        width: 150px;
        height: 50px;
        object-fit: contain;
    }

    .navbar-toggler {
        background-color: #024a40;
        border: none;
        border-radius: 6px;
        width: 50px;
        height: 35px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: none;
        width: 28px;
        height: 20px;
        position: relative;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 28px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
    }

    .navbar-toggler-icon::before {
        top: 2px;
        box-shadow: 0 8px 0 white;
    }

    .navbar-toggler-icon::after {
        top: 18px;
    }

    .navbar-nav {
        padding: 10px 0;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
        margin-left: 0;
        padding: 9px 0;
    }

    .navbar-nav .nav-link::after {
        bottom: 4px;
    }


    /* ================= HERO ================= */

    #hero_section {
        width: 100%;
        min-height: 500px;
        padding: 25px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .intro {
        padding: 90px 0px 10px 0px;
        max-width: 600px;
    }

    .hero_intro {
        font-size: 16px;
        margin-top: 25px;
    }

    .hero_heading {
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 12px;
    }

    .hero_para {
        font-size: 18px;
        line-height: 1.5;
    }


    /* ================= ABOUT ================= */

    #about_section {
        width: 100%;
        padding: 50px 10px;
    }

    .img-box {
        width: 100%;
        max-width: 300px;
        height: 220px;
        margin: 20px auto 30px;
    }

    .img-box-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-box h6 {
        font-size: 15px;
    }

    .about-box h1 {
        font-size: 28px;
        line-height: 1.3;
    }

    .about-box p {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .about_icon {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 25px;
    }

    .reliable_onnection,
    .quality,
    .long-term {
        gap: 8px;
    }

    .reliable_onnection img,
    .quality img,
    .long-term img {
        width: 35px;
        height: 35px;
    }

    .reliable_onnection h6,
    .quality h6,
    .long-term h6 {
        font-size: 14px;
    }

    .about_line {
        height: 40px;
    }


    /* ================= SUPPLIER ================= */

    #supplier_section {
        width: 100%;
        padding: 50px 30px;
    }

    .supplier h6 {
        font-size: 15px;
    }

    .supplier h1 {
        font-size: 25px;
        line-height: 1.3;
    }

    .supplier p {
        font-size: 14px;
        line-height: 1.5;
    }

    .kaiwei_box,
    .ori_box {
        width: 100%;
        padding: 12px;
    }

    .kaiwei_box img,
    .ori_box img {
        width: 95px;
        height: 40px;
        object-fit: contain;
    }

    .kaiwei_box h6,
    .ori_box h6 {
        font-size: 15px;
        margin-top: 15px;
    }

    .kaiwei_box p,
    .ori_box p {
        font-size: 14px;
        line-height: 1.5;
    }


    /* ================= CONTACT ================= */

    #contact_section {
        width: 100%;
        padding: 50px 30px;
    }

    .get_in-touch h6 {
        font-size: 15px;
        margin-top: 0;
    }

    .get_in-touch h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    .get_in-touch p {
        font-size: 15px;
        line-height: 1.5;
    }

    .phone,
    .email {
        width: 100%;
        padding: 12px;
    }

    .phone h6,
    .email h6 {
        font-size: 15px;
    }

    .phone p,
    .email a {
        font-size: 14px;
        line-height: 1.5;
        word-break: break-word;
    }

    .phone i,
    .email i {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }


    /* ================= FOOTER ================= */

    #footer_section {
        width: 100%;
        padding: 20px 0px;
    }

    .footer {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer_box {
        gap: 10px;
    }

    .footer_logo {
        width: 140px;
        height: 40px;
    }

    .footer_line {
        height: 35px;
    }

    .footer_box p {
        font-size: 9px;
        line-height: 1.4;
    }

    .copyright {
        font-size: 11px;
    }
}
/* ================= MOBILE RESPONSIVE ================= */

@media (max-width: 576px) {
body {
    overflow-x: hidden;
}

    .navbar {
        padding: 0 15px;
        min-height: 65px;
    }
        .navbar-toggler {
        background-color: #024a40;
        border-radius: 4px;
        width: 55px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler-icon {
        background-image: none;
        width: 28px;
        height: 20px;
        position: relative;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after,
    .navbar-toggler-icon {
        background-color: transparent;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 28px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
    }

    .navbar-toggler-icon::before {
        top: 2px;
        box-shadow: 0 8px 0 white;
    }

    .navbar-toggler-icon::after {
        top: 18px;
    }

    .navbar-brand img {
        width: 150px;
        height: 60px;
        object-fit: contain;
    }

    .navbar-nav {
        padding: 10px 0;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
        margin-left: 0;
        padding: 10px 0;
    }

    .navbar-nav .nav-link::after {
        bottom: 5px;
    }


    /* ================= HERO ================= */

    #hero_section {
        width: 100%;
        min-height: 500px;
        padding: 20px;
        background-size: 100% 100%;
        background-position: center;
    }

    .intro {
        padding: 100px 15px 50px;
    }

    .hero_intro {
        font-size: 15px;
        margin-top: 20px;
    }

    .hero_heading {
        font-size: 33px;
        line-height: 1.2;
        margin-bottom: 12px;
    }

    .hero_para {
        font-size: 17px;
        line-height: 1.5;
    }


    /* ================= ABOUT ================= */

    #about_section {
        width: 100%;
        padding: 40px 20px;
    }

    .img-box {
        width: 100%;
        max-width: 350px;
        height: 230px;
        margin: 0 auto 30px;
    }

    .img-box-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-box h6 {
        font-size: 15px;
    }

    .about-box h1 {
        font-size: 27px;
        line-height: 1.3;
    }

    .about-box p {
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 8px;
    }

    .about_icon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        margin-top: 25px;
    }

    .reliable_onnection,
    .quality,
    .long-term {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .reliable_onnection img,
    .quality img,
    .long-term img {
        width: 35px;
        height: 35px;
    }

    .reliable_onnection h6,
    .quality h6,
    .long-term h6 {
        font-size: 15px;
        margin: 0;
    }

    .about_line {
        display: none;
    }


    /* ================= SUPPLIER ================= */

    #supplier_section {
        width: 100%;
        padding: 40px 20px;
    }

    .supplier h6 {
        font-size: 15px;
    }

    .supplier h1 {
        font-size: 27px;
        line-height: 1.3;
    }

    .supplier p {
        font-size: 15px;
        line-height: 1.5;
    }

    .kaiwei_box,
    .ori_box {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
    }

    .kaiwei_box img,
    .ori_box img {
        width: 100px;
        height: 40px;
        object-fit: contain;
    }

    .kaiwei_box h6,
    .ori_box h6 {
        font-size: 16px;
        margin-top: 15px;
    }

    .kaiwei_box p,
    .ori_box p {
        font-size: 15px;
        line-height: 1.5;
    }


    /* ================= CONTACT ================= */

    #contact_section {
        width: 100%;
        padding: 40px 20px;
    }

    .get_in-touch h6 {
        font-size: 15px;
        margin-top: 0;
    }

    .get_in-touch h1 {
        font-size: 27px;
        line-height: 1.3;
    }

    .get_in-touch p {
        font-size: 15px;
        line-height: 1.6;
    }

    .phone,
    .email {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
    }

    .phone h6,
    .email h6 {
        font-size: 16px;
    }

    .phone p,
    .email a {
        font-size: 15px;
        line-height: 1.5;
        word-break: break-word;
    }

    .phone i,
    .email i {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }


    /* ================= FOOTER ================= */

    #footer_section {
        width: 100%;
        padding: 25px 20px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }

    .footer_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer_logo {
        width: 180px;
        height: 60px;
    }

    .footer_line {
        width: 100px;
        height: 2px;
    }

    .footer_box p {
        font-size: 12px;
        line-height: 1.5;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
    }
}

